html{
    background-color: lightgray;
    font-family: 'Chakra Petch', sans-serif;
}

.logo{
    color: blue;
    text-align: center;
    font-weight: bolder;
}

#version-number{
    color: black;
    font-size: 1rem;
    text-align: left;
}

.logo .intro{
    color: black;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

#kb-mode{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px black solid;
    padding: 5px;
    width: fit-content;
    font-size: 1rem;
}

#kb-indicator{
    text-align: center;
    font-weight: bolder;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #04AA6D;
    color: white;
}

.dialog-button{
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin-bottom: 5px;
    transition-duration: 0.4s;
}


#preset-list{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#grid-container{
    display: grid;
    grid-template-rows: repeat(2, 2rem) auto;
    user-select: none;
    border: black 2px solid;
    max-width: fit-content;
    max-height: fit-content;
    padding: 10px;
    margin: auto;
}

/* The Information Bar */

#info-bar{
    display: flex;
    gap: 5px;
}

#file-label{
    background-color: white;
    width: 210px;
    height: 20px;
    text-align: center;
    border: 2px black solid;
}

#file-name{
    background-color: white;
    width: 155px;
    height: 20px;
    text-align: center;
    border: 2px black solid;
}

.info-label{
    background-color: white;
    max-width: 45px;
    height: 20px;
    text-align: center;
    margin-right: 8px;
}

.info-input{
    background-color: white;
    width: 45px;
    height: 20px;
    text-align: center;
}

#loop{
    background-color: gray;
    width: 55px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}

#download{
    background-color: gray;
    width: 25px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}


#upload{
    background-color: gray;
    width: 25px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}

#upload-input{
    display: none;
}

#downloadLink{
    display: none;
}

/* The Navigation Bar*/

#nav-bar{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

#nuke-all{
    background-color: black;
    color: yellow;
    width: 25px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}

#chaos{
    background-color: red;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}

#add-inst{
    background-color: gray;
    width: 48px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}

#del-inst{
    background-color: gray;
    width: 48px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}

#add-col{
      background-color: gray;
      width: 25px;
      height: 25px;
      border-radius: 10%;
      text-align: center;
}

#del-col{
    background-color: gray;
    width: 25px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}

#play-all{
    background-color: gray;
    width: 55px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}

.nav-utils *{
    background-color: gray;
    width: 55px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
    padding: 0;
}

button[id^="page"]{
    background-color: gray;
    width: 25px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}

#add-page{
    background-color: gray;
    width: 55px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}

#del-page{
    background-color: gray;
    width: 55px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}

/* The Sequencer (Base)*/

.invisible{
    display: none !important;
}

#unique-divider{
    display: none;
}

div[id^="pattern-"]{
    display:grid;
    grid-auto-rows: 2rem;
    grid-template-columns: subgrid;
}

div[id^='seq-row-']{
    display: flex;
    gap: 5px;
}

div[id^='seq-row-'] .row-clear{
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 20%;
    text-align: center;
}

div[id^='seq-row-'] label[id^='new-inst-'] {
    cursor: pointer;
    background-color: gray;
    width: 100px;
    height: 25px;
    display: block;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

input[type="file"] {
    display: none;
}

div[id^='seq-row-'] .mute{
    background-color: gray;
    width: 25px;
    height: 25px;
    border-radius: 20%;
}

div[id^='seq-row-'] .solo{
    background-color: gray;
    width: 25px;
    height: 25px;
    border-radius: 20%;
}

div[id^='seq-row-'] .steps{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

div[id^='seq-row-'] .steps button[class^='step']{
    background-color: darkgray;
    width: 25px;
    height: 25px;
    border-radius: 20%;
    font-weight: bold;
}

.step- {
    display: none;
    background-color: darkgray;
    width: 25px;
    height: 25px;
    border-radius: 20%;
    font-weight: bold;
}


div[id^='seq-row-'] .steps .divider{
    font-size: 20px;
    justify-content: center;
    margin: 0;
}

.continue{
    font-weight: bolder;
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 20%;
}

.footer{
    text-align: center;
    font-weight: normal;
}

.collapsible {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}

#instruction {
    display: none;
    overflow: hidden;
    border: 2px black solid;
    border-radius: 5%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#instruction_pic {
    display: block;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

#instruction-list{
    font-weight: bolder;
}

.instruction-light{
    font-weight: normal !important;
}

#kbd_pic {
    display: block;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}