html{
    background-color: lightgray;
    font-family: 'Josefin Sans', sans-serif;
}

.logo{
    color: blue;
    text-align: center;
}

.intro{
    color: orange;
    text-align: center;
}

button{
    cursor: pointer;
}

#grid-container{
    display: grid;
    grid-template-rows: repeat(2, 2rem) auto;
    user-select: none;
    border: black 2px solid;
    max-width: fit-content;
    max-height: fit-content;
    padding: 10px;
    margin: auto;
}


/* The Information Bar */

#info-bar{
    display: flex;
    gap: 5px;
}

#file-name{
    background-color: gray;
    width: 300px;
    height: 20px;
    text-align: center;
    border: 2px black solid;
}

#load-file{
    background-color: gray;
    width: 25px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}

.info-label{
    background-color: white;
    max-width: 47px;
    height: 20px;
    text-align: center;
    margin-right: 7px;
}

.info-input{
    background-color: white;
    width: 47px;
    height: 20px;
    text-align: center;
}

/* The Navigation Bar*/

#nav-bar{
    display: flex;
    gap: 5px;
}

#nuke-all{
    background-color: black;
    color: yellow;
    width: 50px;
    height: 25px;
    border-radius: 20%;
    text-align: center;
    font-size: 20px;
    padding: 0;
}

#add-inst{
    background-color: gray;
    width: 48px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}

#del-inst{
    background-color: gray;
    width: 48px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}

#play-all{
    background-color: gray;
    width: 55px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
}

#bpm-label{
    background-color: white;
    width: 47px;
    height: 20px;
    text-align: center;
    margin-right: 5px;
}

#bpm{
    background-color: white;
    width: 47px;
    height: 20px;
    text-align: center;
}

.nav-utils *{
    background-color: gray;
    width: 55px;
    height: 25px;
    border-radius: 10%;
    text-align: center;
    padding: 0;
}

/* The Sequencer (Base)*/

#pattern{
    display:grid;
    grid-auto-rows: 2rem;
    grid-template-columns: subgrid;
}

div[id^='seq-row-']{
    display: flex;
    gap: 5px;
}

div[id^='seq-row-'] .row-clear{
    background-color: gray;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 20%;
    text-align: center;
}

div[id^='seq-row-'] label[id^='new-inst-'] {
    cursor: pointer;
    background-color: gray;
    width: 100px;
    height: 25px;
    text-align: center;
    overflow: clip;
}

input[type="file"] {
    display: none;
}

div[id^='seq-row-'] .mute{
    background-color: gray;
    width: 25px;
    height: 25px;
    border-radius: 20%;
}

div[id^='seq-row-'] .solo{
    background-color: gray;
    width: 25px;
    height: 25px;
    border-radius: 20%;
}

div[id^='seq-row-'] .steps{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

div[id^='seq-row-'] .steps button[class^='step']{
    background-color: darkgray;
    width: 25px;
    height: 25px;
    border-radius: 20%;
}

div[id^='seq-row-'] .steps .divider{
    font-size: 20px;
    justify-content: center;
    margin: 0;
}

.step17{
    display: none;
}

.footer{
    text-align: center;
}